version: "3.11"

services:
  kestra:
    image: kestra/kestra:v0.18.2
    user: "root"
    command: server local
    ports:
      - "8080:8080"
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          server:
            basicAuth:
              enabled: false
        micronaut:
          security:
            enabled: false
      GEMINI_API_KEY: "AIzaSyBSLnSxhQxBDX0YPRQk4x4KBI9t2X5IjtM"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./kestra-data:/app/storage

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./mongo-data:/data/db
